{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
   <div class="announce">
    <p>Welcome to our new Data Science resource site!</p>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- Add Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

<!-- footer -->
{% block footer %}
<!-- add styles to footer -->
<footer>
  <p>© 2025 DATAIDEA. All rights reserved. Built with ❤️ by <a href="https://github.com/jumashafara" target="_blank">Juma Shafara</a>.</p>
</footer>
{% endblock %}
